VSPackage1/DumbClient/Service References/ServiceReference1/EditService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EditService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEditService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEditService_IntializePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:IntializePosition" />
  </wsdl:message>
  <wsdl:message name="IEditService_IntializePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntializePositionResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_SendCaretPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCaretPosition" />
  </wsdl:message>
  <wsdl:message name="IEditService_SendCaretPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCaretPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_GetChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChanges" />
  </wsdl:message>
  <wsdl:message name="IEditService_GetChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_printIds_InputMessage">
    <wsdl:part name="parameters" element="tns:printIds" />
  </wsdl:message>
  <wsdl:message name="IEditService_printIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:printIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_CallBackFunction_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackFunction" />
  </wsdl:message>
  <wsdl:message name="IEditService_CallBackFunction_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_AddNewEditor_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AddNewEditor" />
  </wsdl:message>
  <wsdl:message name="IEditService_AddNewEditor_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AddNewEditorResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_CallBackChanges_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackChanges" />
  </wsdl:message>
  <wsdl:message name="IEditService_CallBackChanges_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEditService">
    <wsdl:operation name="IntializePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/IntializePosition" message="tns:IEditService_IntializePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/IntializePositionResponse" message="tns:IEditService_IntializePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCaretPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/SendCaretPosition" message="tns:IEditService_SendCaretPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/SendCaretPositionResponse" message="tns:IEditService_SendCaretPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/GetChanges" message="tns:IEditService_GetChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/GetChangesResponse" message="tns:IEditService_GetChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="printIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/printIds" message="tns:IEditService_printIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/printIdsResponse" message="tns:IEditService_printIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallBackFunction">
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/CallBackFunction" message="tns:IEditService_CallBackFunction_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/CallBackFunctionResponse" message="tns:IEditService_CallBackFunction_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewEditor">
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/AddNewEditor" message="tns:IEditService_AddNewEditor_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/AddNewEditorResponse" message="tns:IEditService_AddNewEditor_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallBackChanges">
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/CallBackChanges" message="tns:IEditService_CallBackChanges_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/CallBackChangesResponse" message="tns:IEditService_CallBackChanges_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEditService" type="tns:IEditService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEditService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IntializePosition">
      <soap12:operation soapAction="http://tempuri.org/IEditService/IntializePosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCaretPosition">
      <soap12:operation soapAction="http://tempuri.org/IEditService/SendCaretPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChanges">
      <soap12:operation soapAction="http://tempuri.org/IEditService/GetChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printIds">
      <soap12:operation soapAction="http://tempuri.org/IEditService/printIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallBackFunction">
      <soap12:operation soapAction="http://tempuri.org/IEditService/CallBackFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewEditor">
      <soap12:operation soapAction="http://tempuri.org/IEditService/AddNewEditor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallBackChanges">
      <soap12:operation soapAction="http://tempuri.org/IEditService/CallBackChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EditService">
    <wsdl:port name="NetTcpBinding_IEditService" binding="tns:NetTcpBinding_IEditService">
      <soap12:address location="net.tcp://localhost:8090/EditService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/EditService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>HP-250\User</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>